///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///
/// @author:    José Antonio Yáñez Jiménez
/// @created:   30/11/2016
/// @modified:  30/11/2016
/// @name:      Random Quote Machine Style
/// @version:   0.5.0
/// @site:      quote.fullstackdev.es
///
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

@import url(https://fonts.googleapis.com/css?family=Calligraffitti)

@import "vars"
@import "mixins"
@import "animations"

// ============================================================================
// Style clean
// ============================================================================
*
  margin: 0
  padding: 0
  list-style: none
  vertical-align: baseline

*, *:before, *:after
  box-sizing: inherit

a, a:hover
  text-decoration: none
  color: $background-color
  padding-bottom: .3rem

// ============================================================================
// General
// ============================================================================
html
  height: 100%
  box-sizing: border-box

body
  background-color: $background-color
  color: $foreground-color
  font-family: $font-stack
  position: relative
  padding-bottom: 6rem
  min-height: 100%

// ============================================================================
// Header section, title
// ============================================================================
header
  margin: 0 auto
  padding-top: 2rem
  @media #{$break-xs}
    width: 95%

  @media #{$break-sm}
    width: 85%

  @media #{$break-md}
    width: 75%

  @media #{$break-lg}
    width: 60%

  h1
    font-family: $quote-font-stack
    @media #{$break-xs}
      font-size: 1.5rem

    @media #{$break-sm}
      font-size: 2rem

    @media #{$break-md}
      font-size: 2.5rem

    @media #{$break-lg}
      font-size: 3.5rem

// ============================================================================
// Quotes section
// ============================================================================
#quote-box
  background-color: $foreground-color
  color: $background-color
  font-family: $quote-font-stack
  margin: 2rem auto 0 auto
  padding: 1rem
  padding-bottom: 5rem
  border-radius: .5rem

  @media #{$break-xs}
    font-size: 1rem
    width: 95%

  @media #{$break-sm}
    font-size: 1.5rem
    width: 85%

  @media #{$break-md}
    font-size: 2rem
    width: 75%

  @media #{$break-lg}
    font-size: 3rem
    width: 60%

#quote-author
  font-family: $font-stack
  font-size: 1rem
  padding-right: 2rem
  text-align: right

#quote-buttons button
  background-color: $background-color
  border: none
  border-radius: .3rem
  color: $foreground-color
  cursor: pointer
  font-family: $font-stack
  font-size: 1rem
  height: 3rem
  outline: 0
  padding: 1rem
  width: 10rem
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)


// ============================================================================
// Footer section
// ============================================================================

footer
  background-color: $foreground-color
  bottom: 0
  color: $background-color
  display: flex

  left: 0
  padding: 1rem
  position: absolute
  right: 0
  text-align: center

  @media #{$break-xs}
  flex-direction: column
  .footer-left
    width: 0

  .footer-center, .footer-right
    width: 100%
    line-height: 2rem

  .footer-left, .footer-center, .footer-right
    a.fa-link
      background-color: $background-color
      border-radius: .3rem
      color: $foreground-color
      height: 2rem
      padding: .2rem
      width: 2rem
    a:before
      content: "" !important
    i
      font-size: 1rem

  @media #{$break-md}
    flex-direction: row
    .footer-left, .footer-center, .footer-right
      line-height: 2rem
      padding: .3rem
      width: 33%
      a.fa-link
        background-color: $background-color
        border-radius: .3rem
        color: $foreground-color
        height: 2rem
        padding: .2rem
        width: 2.5rem
      a:before
        content: "" !important
      i
        font-size: 1.5rem
